html {
    --bg-color: #EDF2EC;
    --dark-text-color: #010201;
    --grey-text-color: #636060;
    --green-text-color: #499A18;
    --orange-color: #E06733;
    --white-color: #FFFFFF;
    --projects-border: #E3E1D5;

    --content-width: calc((100vw - 1222px) / 2);
}


/* TEXT */

@font-face {
    font-family: 'Inika';
    src: url("/plants/assets/fonts/Inika/Inika-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Inika';
    src: url("/plants/assets/fonts/Inika/Inika-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url("/plants/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
    font-family: 'Inter';
    src: url("/plants/assets/fonts/Inter/static/Inter-Bold.ttf");
    font-weight: 700;
}

.text {
    font: 20px Inter, sans-serif;
    color: var(--grey-text-color);
}

.section-header {
    font: 400 40px/52px Inika, serif;
}

.green-text {
    color: var(--green-text-color);
}

.orange-text {
    color: var(--orange-color);
}


/* PAGE LAYOUT */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

main > *,
header,
footer {
    padding: 0 var(--content-width) 0 var(--content-width);
}


/* HEADER */

.header {
    min-height: 134px;
    
    display: flex;
    align-items: center;

    /* for width >=1440 */
    justify-content: space-between;

    background-color: var(--bg-color);
    font: 16px 'Inika', serif;
}

.nav-list {
    display: flex;
    column-gap: 46px;

    list-style-type: none;
}

.logo-block {
    display: flex;
    align-items: baseline;
}

.logo {
    background-image: url(/plants/assets/svg/logo.svg);
    min-width: 22px;
    min-height: 22px;
}

.nav-link {
    color: var(--dark-text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--orange-color);
}

.nav-link:active {
    color: var(--grey-text-color);
}


/* WELCOME */

.section.welcome {
    height: 532px;

    display: flex;
    /* for width >=1440 */
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color);
}

.welcome .leafs {
    background-image: url("/plants/assets/img/leafs_welcome.png");
    min-width: 448.8px;
    height: 407.36px;
}

.welcome .content {
    order: 1;
    max-width: 549px;
}

.main-header {
    margin-bottom: 42px;
    font: 700 45px/50px Inter;
    color: #717171;
}

.welcome .text {
    line-height: 35px;
    margin-bottom: 48px;
}

.welcome .button {
    width: 158px;
    height: 44px;

    border: 2px solid var(--orange-color);
    border-radius: 10px;
    
    background: none;

    font: 16px Inter, sans-serif;
}

.welcome .button:hover{
    background: var(--orange-color);
    color: var(--white-color);
}

.welcome .button:active {
    background: var(--green-text-color);
}

/* ABOUT US */

.section.about-us {
    min-height: 666px;

    display: flex;
    /* for width >=1440 */
    justify-content: space-between;
    align-items: center;

    background-color: var(--white-color);
}

.about-us .content {
    max-width: 605px;
}

.about-us .section-header {
    width: 463px;
    margin-bottom: 40px;
}

.about-us .text {
    line-height: 30px;
}

.house-plant {
    background-image: url(/plants/assets/img/houseplant.png);
    min-width: 464px;
    min-height: 479px;
}


/* SERVICE */

.section.service {
    padding-top: 40px;
    padding-bottom: 121px;
    background-color: #EDF2EC;
}

.service .header-wrapper {
    height: 94px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    column-gap: 142px;
}

.service .section-header {
    width: 306px;
}

.service .buttons {
    display: flex;
    column-gap: 38px;
}

.service .button,
.prices .button {
    width: 163px;
    height: 52px;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    
    background: none;

    font: 20px Inika, serif;
    color: var(--orange-color);
}

.service .button:hover,
.prices .button:hover {
    background: var(--orange-color);
    color: var(--white-color);
}

.service .button:active,
.prices .button:active {
    background: var(--green-text-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 55px;
}

.project {
    width: 330px;
    height: 450px;
}

.project img {
    border-radius: 20px 20px 0px 0px;
    padding-left: 1px;
    object-position: -0.7px 0;
    display: block;
}

.project-caption {
    border: 1px solid var(--projects-border);
    border-radius: 0px 0px 20px 20px;
    height: 100px;
}

.project-name {
    font: bold 20px/20px Inter, sans-serif;
    margin: 10px;
}

.project-description {
    font-size: 16px;
    line-height: 20px;
}

.project-name,
.project-description {
    text-align: center;
}


/* PRICES */

.section.prices {
    padding-top: 38px;
    min-height: 560px;

    display: flex;
    justify-content: space-between;
}

.prices .section-header {
    font: bold 40px/50px Inter, sans-serif;
}

.prices .contacts-promo {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 38.5px;
}

.prices .contacts-promo .section-header {
    text-align: end;
}

.prices .leafs {
    background: no-repeat url("/plants/assets/img/leafs_prices.png");
    width: 152px;
    height: 174.99px;
}

.prices .content .section-header {
    margin-bottom: 60px;
}

.prices .accordion {
    width: 332px;

    padding: 33px 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 32px;

    border: 1px solid var(--projects-border);
    border-radius: 20px;
}

.prices .accordion .price-variant {
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    background: var(--bg-color);
    font: bold 20px/20px Inter, sans-serif;
}

.accordion-button {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #D9D9D9;
}

.accordion-button .arrow {
    
}