html {
    --bg-color: #EDF2EC;
    --dark-text-color: #010201;
    --grey-text-color: #636060;
    --green-text-color: #499A18;
    --orange-color: #E06733;
    --white-color: #FFFFFF;

    --content-width: calc((100vw - 1222px) / 2);
}

@font-face {
    font-family: 'Inika';
    src: url("/plants/assets/fonts/Inika/Inika-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Inika';
    src: url("/plants/assets/fonts/Inika/Inika-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url("/plants/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
    font-family: 'Inter';
    src: url("/plants/assets/fonts/Inter/static/Inter-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* PAGE LAYOUT */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

main > *,
header,
footer {
    padding: 0 var(--content-width) 0 var(--content-width);
}

.text {
    font: 20px Inter, sans-serif;
    color: var(--grey-text-color);
}

/* HEADER */

.header {
    height: 134px;
    
    display: flex;
    align-items: center;

    /* for width >=1440 */
    justify-content: space-between;

    background-color: var(--bg-color);
    font: 16px 'Inika', serif;
}

.nav-list {
    display: flex;
    column-gap: 46px;

    list-style-type: none;
}

.logo {
    display: flex;
    align-items: baseline;
}

.nav-link {
    color: var(--dark-text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--orange-color);
}

/* WELCOME */

.welcome.section {
    height: 532px;

    display: flex;
    /* for width >=1440 */
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color);
}

.leafs {
    background-image: url("/plants/assets/img/leafs.png");
    min-width: 448.8px;
    height: 407.36px;
}

.welcome .content {
    order: 1;
    max-width: 549px;
}

.main-header {
    margin-bottom: 42px;
    font: 700 45px/50px Inter;
    color: #717171;
}

.green-text {
    color: var(--green-text-color);
}

.welcome .text {
    line-height: 35px;
    margin-bottom: 48px;
}

.welcome .button {
    width: 158px;
    height: 44px;

    border: 2px solid var(--orange-color);
    border-radius: 10px;
    
    background: none;

    font: 16px Inter, sans-serif;
}

.welcome .button:hover {
    background: var(--orange-color);
    color: var(--white-color);
}