.section.contacts {
    min-height: 550px;
    padding-top: 60px;

    background: 
        var(--bg-color) 
        no-repeat 
        left var(--general-padding) 
        bottom 0 
        url(../assets/img/contact_woman.png);
}

.contacts .section-header {
    margin-bottom: 37px;

    text-align: center;
    font: 40px/52px Inika, serif;
    font-weight: bold;
}

.city-select-container {
    display: flex;
    justify-content: flex-end;
}

.city-select {
    height: 50px;
    max-width: 450px;
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 35px;

    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.city-option {
    font: 20px Inter, sans-serif;
    color: var(--lightgrey-text-color)
}

/* tablet (768px) */
@media (max-width: 1439px) {
    .section.contacts {
        min-height: 739px;
        padding-top: 40px;

        background-position: left 294px bottom 0;
        background-size: 200px;
    }

    .contacts .section-header {
        margin-bottom: 99px;
    }

    .city-select-container {
        justify-content: center;
    }
}

/* mobile (380px) */
@media (max-width: 380px) {
    .section.contacts {
        min-height: 445px;
        padding-top: 25px;

        background-position-x: center;
        background-size: 100px;
    }

    .contacts .section-header {
        margin-bottom: 81px;

        font-size: 25px;
        line-height: 32.57px;
    }

    .city-select-container {
        
    }
    
    .city-select {
        max-width: 300px;
        padding-right: 22px;
    }
}