.section.prices {
    padding-top: 38px;
    min-height: 558px;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    row-gap: 19px;
}

.prices .section-header {
    font: bold 40px/50px Inter, sans-serif;
    margin-bottom: 60px;
}


.prices .contacts-promo {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prices .contacts-promo .section-header {
    margin-bottom: 41px;
    text-align: end;
}

.prices .button {
    width: 162px; /* на 1 больше, чем базовое значение класса */
    margin-bottom: 35px;
}

.prices .leafs {
    background: no-repeat url("../assets/img/leafs_prices.png");
    width: 152px;
    height: 174.99px;
    margin-right: 5px;
}


.prices .content .section-header {
    margin-bottom: 60px;
}

.prices .accordion {
    width: 332px;

    padding: 33px 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 32px;

    border: 1px solid var(--projects-border);
    border-radius: 20px;
}

.prices .accordion .price-variant {
    padding: 0 40px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    background: var(--bg-color);
    font: bold 20px/20px Inter, sans-serif;
}

.accordion-button {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #D9D9D9;
}

/* tablet (768px) */
@media (max-width: 1439px) {
    .section.prices {
        min-height: 585px;
    }

    .prices .content .section-header {
        margin-top: 3px;
        margin-bottom: 56px;
        margin-left: 15px;

        font-size: 35px;
        line-height: 42.36px;
    }

    .prices .contacts-promo .section-header {
        margin-top: 102px;
        margin-bottom: 28px;
        
        font-size: 25px;
        line-height: 35px;
    }

    .prices .button {
        margin-bottom: 29px;
    }
}

/* mobile (380px) */
@media (max-width: 380px) {
    .section.prices {
        padding-top: 25px;
        flex-direction: column;
        align-items: center;
        min-height: unset;
    }

    .prices .content .section-header {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 36px;
        
        text-align: center;
        font-size: 25px;
        line-height: 30.26px;
    }

    .prices .leafs {
        display: none;
    }


    .prices .accordion .price-variant {
        font-size: 15px;
    }

    .prices .accordion {
        width: 224px;
        padding: 28px 21px;
        row-gap: 13.92px;
        margin-left: 2px;
    }

    .prices .accordion .price-variant {
        padding-left: 30px;
        padding-right: 40px;
    }

    .accordion-button {
        margin-top: 4px;
    }

    .prices .contacts-promo {
        width: auto;
        padding: 0 23px;
        align-items: center;
    }
    
    .prices .contacts-promo .section-header {
        margin-top: 0px;
        margin-bottom: 21px;

        text-align: center;
        font-size: 20px;
    }

    .prices .contacts-promo .button {
        width: 121px;
        margin-bottom: 40px;
    }
}